# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
.venv/

# Poetry build artifacts
build/
dist/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db